.header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient( to right bottom, rgba($color-primary-light, .6), rgba($color-primary-dark, 1)), url(../images/hero.jpg);
    /* always try to fit the element to the vieport size */
    background-size: cover;
    /* top of the element sticks to top of the viewport */
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    &__logo {
        height: 3.5rem;
    }
    &__logo:hover {
        animation: rotate;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}