$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-grey-light: #999;
$color-white:#fff;
$color-black: #000;
$color-secondary: yellow;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary: blue;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
//grid consts
$grid-width-standard: 114rem;
$grid-gutter-v:8rem;
$grid-gutter-h: 6rem;
$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;
$default-font-size: 1.6rem;
$default-shadow-color:rgba($color-black, .15);
$default-border-radius: 3px;