body {
    /* setting of the attributes in the body elements, leverages the inheritance for the properties that support inheritance.  */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
    /* padding is not and inheritable property */
    padding: 3rem;
}

.heading-primary {
    color: $color-white;
    /*fixes an odd shake bug in animation*/
    backface-visibility: hidden;
    margin-bottom: 6rem;
}

.heading-primary {
    &--main {
        text-transform: uppercase;
        letter-spacing: 3.5rem;
        display: block;
        font-size: 6rem;
        font-weight: 400;
        animation: moveInLeft;
        animation-duration: 1s;
    }
    &--sub {
        text-transform: uppercase;
        letter-spacing: 1.7rem;
        display: block;
        font-size: 2rem;
        font-weight: 700;
        animation: moveInRight;
        animation-duration: 1s;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    //only apply backgeround-image where there's text
    background-clip: text;
    -webkit-background-clip: text;
    // make text transparent, so that background image is exposed
    color: transparent;
    transition: all .2s;
    letter-spacing: .2rem;
    &:hover {
        transform: skewY(1deg) skewX(12deg);
        text-shadow: .5rem 1rem 1rem $default-shadow-color;
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}