.u-center-text {
    // centers text/inline-block elements(inline block elements are treated as text
    text-align: center;
}

.u-margin-bottom-8 {
    margin-bottom: 8rem;
}

.u-margin-bottom-1 {
    margin-bottom: 1rem;
}

.u-margin-bottom-4 {
    margin-bottom: 4rem;
}